
//Variables

	.transition {
		-webkit-transition: color 0.4s ease-in;
		-moz-transition: color 0.4s ease-in;
		-o-transition: color 0.4s ease-in;
		transition: color 0.4s ease-in;

		-webkit-transition: background-color 0.4s ease-in;
		-moz-transition: background-color 0.4s ease-in;
		-o-transition: background-color 0.4s ease-in;
		transition: background-color 0.4s ease-in;
	}

	.greyout {
		-webkit-transition: all 0.4s ease-in;
		-moz-transition: all 0.4s ease-in;
		-o-transition: all 0.4s ease-in;
		transition: all 0.4s ease-in;
	}

	@grey: rgba(177, 177, 177, 0.7);

	@font-face {
		font-family: OratorStd;
		src: url(../OratorStd.otf);
	}

	@font-face {
		font-family: OratorStdBold;
		src: url(../OratorBold.ttf);
	}


//Site wide

	body {
		font-family: OratorStd;
	}

	.page-wrap {
		width: 100%;
		height: auto;
		overflow: hidden;
	}

// Home

	#home {
		height: 500px;
		background: url("../images/home.png");
		background-position: top;
		background-size: cover;
	}

	.logo {
	  float: left;
	}

	.nav {

		float: right;
		font-size: 1.2em;
		font-family: OratorStd;

		a {
			color: #5D5D5D;
		}

		a:hover {
			.transition;
		}
	}

	.nav-wrapper {
	  z-index: 10;
	  float: left;
	  margin: 5% 0 0 5%;
	}

	.nav-wrapper-inner {
	  background: @grey;
	  padding: 0;
	}

	.icon-arrow-down, .icon-arrow-up {
		font-size: 4em;
	}

// About

	#about {
		background: #DDDDDD;
		height: 342px;
	}

	.about-text {
		margin: 3% 0 0 0;
	}

	.rachel-picture {
		float: left;
		margin: 0 2% 2% 0;
	}

// Portfolio

	#portfolio {
		// background: #C3C3C3;
		background: #fff;
		height: 3000px;
	}

	#portfolio a img {
		.greyout;
		-webkit-filter: grayscale(100%);
	}

	#portfolio a img:hover {
		.greyout;
		-webkit-filter: grayscale(0%);
	}

	.portfolio-nav {
		text-align: center;
		font-size: 2em;
		width: 100%;
		z-index: 10;
		font-family: OratorStd;


		.people {
			background: @grey;
			margin: 1% 0 2% 0;
		}

		.animals-pets {
			background: @grey;
			margin: 1% 0 2% 0;
		}

		.places-things {
			background: @grey;
			margin: 1% 0 2% 0;
		}
	}

	.portfolio-images {
		clear: both;

		.port-thumb {
			margin: 7% 0 0 0;
		}
	}

	.disabled {
		cursor: default;
		color: #fff;

		&:hover {
			text-decoration: none;
			color: #5D5D5D;
		}
	}

	.back-to-top {
		margin-top: -57px;
	}

	.thumbnail {
		border: none !important;
		background-color: #C3C3C3;
	}

	.thumbnail > a > img {
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.img_wrapper {
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.caption {

		p a {
			background: @grey;
			border-color: @grey;

			&:hover {
				background: @grey;
				border-color: @grey;
			}
		}

		h3 {
			font-family: OratorStd;
		}
	}

	//Modal

		.modal-dialog {

			.modal-title {
				font-size: 2em;
			}

			.modal-body {
				overflow: hidden;

				.modal-thumb {
					overflow: hidden;
					border-bottom: 1px solid #e5e5e5;
					padding-bottom: 10px;

					img {
						float: right;
						padding-left: 10px;
					}
				}

				.modal-orig-print {
					overflow: hidden;
					border-bottom: 1px solid #e5e5e5;
					padding:10px 0;

					span {
						font-size: 1.3em;
						font-family: OratorStdBold;
					}

					input {
						margin: 1% 1% 0 21%;
					}
				}

				.modal-order {
					padding-bottom: 10px;
					overflow: hidden;

					.btn-etsy {
						margin: 2% 0 0 30%;
						float: left;
					}

					.btn-paypal {
						margin: 2% 30% 0 0%;
						float: right;
					}
				}

				.modal-size {

					overflow: hidden;
					border-bottom: 1px solid #e5e5e5;
					padding-bottom: 10px;

					p {
						font-size: 1.3em;
						font-family: OratorStdBold;
					}

					input {
						margin: 1% 1% 0 15%;
					}
				}

				.modal-paper {

					overflow: hidden;
					border-bottom: 1px solid #e5e5e5;
					padding-bottom: 10px;

					padding-top: 15px;

					p {
						font-size: 1.3em;
						font-family: OratorStdBold;
					}

					input {
						margin: 1% 1% 0 20%;
					}
				}

				.modal-paypal {
					overflow: hidden;
					border-bottom: 1px solid #e5e5e5;
					padding: 15px 0 10px 0;

					.btn-final-paypal {
						margin-left: 29%;
					}
				}
			}
		}

		.modal-size, .modal-paper, .modal-paypal {
			display: none;
		}




// Contact

	#contact {
		background: #9D9D9D;
		height: 400px;
		overflow: visible;
	}

	.email {

		padding: 3% 0 0 0;

		a {
			padding: 38px 16px;
		}
		
	}

	.social {
		overflow: hidden;
		margin-top: 5%;
	}

	.facebook, .pinterest, .etsy {
		float: left;
		// margin: 2% 3% 0 3%;
		width: 33%;
		span {
			color: #767675;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		a {
			margin-left: 45%;
		}
	}


//helpful

	.centered {
		float: none;
		margin: 0 auto;
	}

	.down-from-home a {
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	.fade.in {
		opacity: 0.8;
	}

	.modal-content {
		opacity: 1;
	}


// media queries

	@media (max-width: 767px) {
		.portfolio-nav {
			font-size: 1.5em;
		}
	}

	@media (min-width: 768px) {

	}

	@media (min-width: 992px) {

	}

	@media (min-width: 1200px) {

	}